Repository joshsoftware/peerly, pull requests merged in 2020-07, with the labels that each got.

#125 Go backend cron job reset hi5 quota
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/user_hi5quota_balance.go
  go-backend/db/user_hi5quota_balance_test.go
  go-backend/go.sum
  go-backend/main.go
  go-backend/tasks/tasks.go
Labels: go-backend

#252 jwt middleware implementation added
  go-backend/service/recognition_moderation_http.go
  go-backend/service/reported_recognition_http.go
  go-backend/service/router.go
  go-backend/service/session_http.go
Labels: go-backend

#247 API to get s3 signed url
  node-backend/.env.sample
  node-backend/controllers/v1/s3SignedUrlController.js
  node-backend/controllers/v1/validationSchema/s3SignedUrlValidation.js
  node-backend/package.json
  node-backend/routes/index.js
  node-backend/routes/s3SignedUrlRoute.js
  node-backend/test/s3SignedUrl.test.js
Labels: node-backend

#261 added like query in users controller
  node-backend/controllers/v1/usersController.js
Labels: bug, node-backend

#264 update readme file
  node-backend/.env.sample
  node-backend/README.md
Labels: node-backend

#234 update recognition controller at create recognition and give hi5.
  node-backend/constant/responseConstants.js
  node-backend/controllers/v1/recognitionController.js
  node-backend/controllers/v1/validationSchema/recognitionValidationSchema.js
  node-backend/models/core_values.model.js
  node-backend/models/recognition_hi5.model.js
  node-backend/models/recognitions.model.js
  node-backend/models/users.model.js
  node-backend/routes/recognitionRoutes.js
  node-backend/test/recognition.test.js
Labels: bug, node-backend

#265 unit test for controller
  node-backend/controllers/v1/recognitionController.js
  node-backend/test/data.js
  node-backend/test/moderation.test.js
  node-backend/test/recognitionController_unit.test.js
Labels: node-backend

#271 added core value seeder file
  node-backend/seeders/20200708083902-core_values.js
Labels: node-backend

#275 update login controller
  node-backend/controllers/v1/loginController.js
  node-backend/jwtTokenValidation/jwtValidation.js
  node-backend/models/organizations.model.js
  node-backend/models/users.model.js
Labels: node-backend

#277 update core value controller
  node-backend/controllers/v1/CoreValueController.js
  node-backend/migrations/20200416095830-core-values-table.js
  node-backend/models/core_values.model.js
  node-backend/routes/coreValuesRoutes.js
  node-backend/test/core_value.test.js
Labels: node-backend

#280 updated readme file by including guidlines for running test cases
  node-backend/README.md
  node-backend/package.json
Labels: node-backend

#281 updated requests of s3 signed url
  node-backend/controllers/v1/s3SignedUrlController.js
  node-backend/controllers/v1/validationSchema/s3SignedUrlValidation.js
Labels: node-backend
