Repository joshsoftware/peerly, pull requests merged in 2020-04, with the labels that each got.

#18 added login route with passport authentication
  node-backend/.env
  node-backend/.env.sample
  node-backend/app/config/db.config.js
  node-backend/app/config/google.config.js
  node-backend/app/controllers/loginController.js
  node-backend/app/google_auth/google_auth.js
  node-backend/app/models/organizations.model.js
  node-backend/app/models/roles.model.js
  node-backend/app/models/sequelize.js
  node-backend/app/models/user_blacklisted_tokens.model.js
  node-backend/app/models/users.model.js
  node-backend/app/routes/routes.js
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/server.js
Labels: node-backend

#63 [go-backend] Logout API
  go-backend/application.yml.default
  go-backend/config/config.go
  go-backend/db/db.go
  go-backend/db/user.go
  go-backend/db/user_blacklisted_tokens.go
  go-backend/go.mod
  go-backend/go.sum
  go-backend/service/router.go
  go-backend/service/session_http.go
Labels: go-backend

#58 Update rollback migration description
  go-backend/main.go
Labels: go-backend

#55 Add redux, react-redux packages
  react-frontend/.eslintignore
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/index.js
  react-frontend/src/reducers/rootReducer.js
  react-frontend/src/redux-store.js
Labels: enhancement

#68 Feature/react/47/setup saga
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/index.js
  react-frontend/src/reducers/appReducer.js
  react-frontend/src/reducers/rootReducer.js
  react-frontend/src/redux-store.js
  react-frontend/src/sagas/rootSaga.js
Labels: enhancement

#69 resolved #50 by adding actionGenerator utility function
  react-frontend/src/utils/actionGenerator.js
Labels: enhancement

#70 Feature/react/51/common headers utility
  react-frontend/src/utils/actionGenerator.js
  react-frontend/src/utils/commonHeaders.js
Labels: enhancement

#71 closes #52 by exporting apiBaseUrl config
  react-frontend/.eslintrc
  react-frontend/src/config.js
Labels: enhancement

#72 closes #54 by adding getJson utility function
  react-frontend/src/utils/getJson.js
  react-frontend/src/utils/getReqUrl.js
  react-frontend/src/utils/objToQueryString.js
Labels: enhancement

#62 Update makeHTTPCall function with different router path and request url
  go-backend/service/user_http_test.go
Labels: go-backend

#73 implemented POST, PUT, PATCH, DELETE helpers
  react-frontend/src/utils/deleteJson.js
  react-frontend/src/utils/patchJson.js
  react-frontend/src/utils/postJson.js
  react-frontend/src/utils/putJson.js
Labels: enhancement

#65 Feature/node 43 API s for organisation management
  node-backend/app/controllers/orgnizationController.js
  node-backend/app/models/core_values.model.js
  node-backend/app/models/organizations.model.js
  node-backend/app/models/recognition_comments.model.js
  node-backend/app/models/recognition_hi5.model.js
  node-backend/app/models/recognitions.model.js
  node-backend/app/routes/organisation.routes.js
  node-backend/app/test/orgnization.test.js
  node-backend/migrations/20200416095610-organizations-table.js
  node-backend/migrations/20200416095700-users-table.js
  node-backend/migrations/20200416095728-user-blacklisted-tokens-table.js
  node-backend/migrations/20200416095922-recognitions-table.js
  node-backend/migrations/20200416100002-recognition-comments-table.js
  node-backend/migrations/20200416100047-recognition-hi5-table.js
  node-backend/migrations/20200416100446-user-badges-table.js
  node-backend/migrations/20200416100620-recognition-moderation-table.js
  node-backend/migrations/20200416100800-reported-recognitions-table.js
Labels: node-backend

#67 Feature/node 10 login api
  node-backend/.env
  node-backend/.env.sample
  node-backend/app/config/db.config.js
  node-backend/app/controllers/loginController.js
  node-backend/app/routes/routes.js
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/server.js
  node-backend/test/test.js
Labels: node-backend, wip

#79 add middleware function for session management
  node-backend/app/jwtTokenValidation/jwtValidation.js
  node-backend/server.js
Labels: node-backend

#84 change a token get data function and update autheticateToken function
  node-backend/app/jwtTokenValidation/jwtValidation.js
Labels: node-backend

#78 Feature/node 45 APIs for badges management
  node-backend/app/controllers/badgesController.js
  node-backend/app/routes/badges.routes.js
  node-backend/app/test/badges.test.js
Labels: node-backend

#83 update organisation API with proper response format
  node-backend/app/controllers/orgnizationController.js
  node-backend/app/test/orgnization.test.js
Labels: node-backend

#76 Feature/node 75 users list by organization
  node-backend/.env
  node-backend/.env.sample
  node-backend/app/controllers/loginController.js
  node-backend/app/controllers/usersController.js
  node-backend/app/models/roles.model.js
  node-backend/app/models/users.model.js
  node-backend/app/routes/users.routes.js
  node-backend/migrations/20200416095517-roles-table.js
  node-backend/migrations/20200416095700-users-table.js
  node-backend/server.js
Labels: node-backend, wip

#77 Feature/node 10 logout api
  node-backend/.env
  node-backend/app/controllers/loginController.js
  node-backend/app/controllers/logoutController.js
  node-backend/app/jwtTokenValidation/deleteExpiredToken.js
  node-backend/app/jwtTokenValidation/jwtValidation.js
  node-backend/app/models/sequelize.js
  node-backend/app/models/user_blacklisted_tokens.model.js
  node-backend/app/routes/session.routes.js
  node-backend/app/test/login.test.js
  node-backend/app/test/logout.test.js
  node-backend/migrations/20200416095610-organizations-table.js
  node-backend/migrations/20200416095728-user-blacklisted-tokens-table.js
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/server.js
Labels: node-backend, wip

#87 Feature/node 85 function return field validation error object
  node-backend/.env
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/badgesController.js
  node-backend/app/controllers/v1/loginController.js
  node-backend/app/controllers/v1/logoutController.js
  node-backend/app/controllers/v1/orgnizationController.js
  node-backend/app/controllers/v1/usersController.js
  node-backend/app/models/sequelize.js
  node-backend/app/routes/badgesRoutes_v1.js
  node-backend/app/routes/coreValuesRoutes_v1.js
  node-backend/app/routes/index.js
  node-backend/app/routes/organisationsRoutes_v1.js
  node-backend/app/routes/sessionRoutes_v1.js
  node-backend/app/routes/usersRoutes_v1.js
  node-backend/app/test/badges.test.js
  node-backend/app/test/core_value.test.js
  node-backend/app/utils/utility.js
  node-backend/migrations/20200416100446-user-badges-table.js
  node-backend/server.js
Labels: enhancement, node-backend

#91 NodeJS deployment script
  node-backend/.env
  node-backend/.env.sample
  node-backend/.gitignore
  node-backend/.ruby-version
  node-backend/README.md
  node-backend/config/deploy.rb
  node-backend/package.json
Labels: enhancement

#92 update a database migration file
  node-backend/migrations/20200416095830-core-values-table.js
  node-backend/migrations/20200416095922-recognitions-table.js
  node-backend/migrations/20200416100002-recognition-comments-table.js
  node-backend/migrations/20200416100047-recognition-hi5-table.js
Labels: node-backend

#95 Feature/node-db-migration-recognition tables
  node-backend/app/models/core_values.model.js
  node-backend/app/models/recognition_comments.model.js
  node-backend/app/models/recognition_hi5.model.js
  node-backend/app/models/recognitions.model.js
  node-backend/migrations/20200416095830-core-values-table.js
Labels: node-backend

#99 change in test conditions and controller
  node-backend/app/jwtTokenValidation/jwtValidation.js
  node-backend/app/routes/badgesRoutes_v1.js
  node-backend/app/routes/coreValuesRoutes_v1.js
  node-backend/app/test/badges.test.js
  node-backend/app/test/core_value.test.js
Labels: node-backend, wip

#100 implement Cors
  node-backend/README.md
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/server.js
Labels: enhancement, node-backend
