Repository joshsoftware/peerly, pull requests merged in 2020-06, with the labels that each got.

#111 Profile issue : 93 show and update user profile
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/user.go
  go-backend/db/user_test.go
  go-backend/service/router.go
  go-backend/service/user_http.go
  go-backend/service/user_http_test.go
  react-frontend/public/assets/images/high-five.png
  react-frontend/public/assets/images/high-five@2x.png
Labels: go-backend

#181 closes #179 - configured jest for styled-components
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/setupTests.js
Labels: enhancement, react-frontend

#147 integration of logger
  node-backend/.env.sample
  node-backend/app/config/loggerConfig.js
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/badgesController.js
  node-backend/app/controllers/v1/loginController.js
  node-backend/app/controllers/v1/logoutController.js
  node-backend/app/controllers/v1/moderationController.js
  node-backend/app/controllers/v1/organisationController.js
  node-backend/app/controllers/v1/recognitionController.js
  node-backend/app/controllers/v1/usersController.js
  node-backend/app/jwtTokenValidation/jwtValidation.js
  node-backend/app/routes/sessionRoutes.js
  node-backend/app/utils/utility.js
  node-backend/package.json
Labels: node-backend

#144 add shared components for login page
  react-frontend/src/index.css
  react-frontend/src/shared-components/peerly-logo/PeerlyLogo.js
  react-frontend/src/shared-components/peerly-logo/PeerlyLogo.test.js
  react-frontend/src/shared-components/peerly-logo/PeerlyTextAndLogo.js
  react-frontend/src/shared-components/peerly-logo/PeerlyTextAndLogo.test.js
  react-frontend/src/shared-components/peerly-logo/PeerlyTextComponent.js
  react-frontend/src/shared-components/peerly-logo/PeerlyTextComponent.test.js
  react-frontend/src/shared-components/peerly-logo/__snapshots__/PeerlyLogo.test.js.snap
  react-frontend/src/shared-components/peerly-logo/__snapshots__/PeerlyTextAndLogo.test.js.snap
  react-frontend/src/shared-components/peerly-logo/__snapshots__/PeerlyTextComponent.test.js.snap
  react-frontend/src/shared-components/plus-sign/PlusSign.js
  react-frontend/src/shared-components/plus-sign/PlusSign.test.js
  react-frontend/src/shared-components/plus-sign/__snapshots__/PlusSign.test.js.snap
Labels: react-frontend

#145 shared component for login form
  react-frontend/src/login/InformativeTextComponent.js
  react-frontend/src/login/InformativeTextComponent.test.js
  react-frontend/src/login/__snapshots__/InformativeTextComponent.test.js.snap
Labels: enhancement, react-frontend

#189 change in background color for dark theme
  react-frontend/src/login/InformativeTextComponent.js
  react-frontend/src/login/InformativeTextComponent.test.js
  react-frontend/src/login/__snapshots__/InformativeTextComponent.test.js.snap
  react-frontend/src/shared-components/peerly-logo/PeerlyLogo.js
  react-frontend/src/shared-components/peerly-logo/PeerlyLogo.test.js
  react-frontend/src/shared-components/peerly-logo/PeerlyTextComponent.js
  react-frontend/src/shared-components/peerly-logo/PeerlyTextComponent.test.js
  react-frontend/src/shared-components/peerly-logo/__snapshots__/PeerlyLogo.test.js.snap
  react-frontend/src/shared-components/peerly-logo/__snapshots__/PeerlyTextAndLogo.test.js.snap
  react-frontend/src/shared-components/peerly-logo/__snapshots__/PeerlyTextComponent.test.js.snap
  react-frontend/src/shared-components/plus-sign/PlusSign.js
Labels: react-frontend

#110 Add recognition Hi5 API
  go-backend/db/common.go
  go-backend/db/common_test.go
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/organization.go
  go-backend/db/organization_test.go
  go-backend/db/recognition_hi5.go
  go-backend/db/recognition_hi5_test.go
  go-backend/go.mod
  go-backend/go.sum
  go-backend/migrations/1588679986_create_recognition_hi5.down.sql
  go-backend/migrations/1588679986_create_recognition_hi5.up.sql
  go-backend/service/common_http_test.go
  go-backend/service/organization_http.go
  go-backend/service/organization_http_test.go
  go-backend/service/recognition_hi5_http.go
  go-backend/service/recognition_hi5_http_test.go
  go-backend/service/router.go
  go-backend/service/user_http_test.go
Labels: go-backend

#193 changes status code of login api from 201 to 200
  node-backend/app/controllers/v1/loginController.js
Labels: node-backend

#185 adding thumbnail url in core value API
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/validationSchema/coreValueValidationSchema.js
  node-backend/app/models/core_values.model.js
  node-backend/app/test/core_value.test.js
  node-backend/migrations/20200416095830-core-values-table.js
  node-backend/package.json
Labels: node-backend

#191 Change recognition GET_API as per spec changes
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/recognitionController.js
  node-backend/app/models/core_values.model.js
  node-backend/app/models/recognitions.model.js
  node-backend/app/models/sequelize.js
  node-backend/app/models/users.model.js
Labels: enhancement, node-backend

#195 update test cases for login and users API
  node-backend/app/test/login.test.js
  node-backend/app/test/logout.test.js
  node-backend/app/test/users.test.js
Labels: node-backend

#198 update recognition controller after update response
  node-backend/app/controllers/v1/recognitionController.js
  node-backend/app/models/recognitions.model.js
  node-backend/app/models/users.model.js
Labels: node-backend

#201 created sequelize migrations
  node-backend/config/config.js
  node-backend/migrations/20200416095517-roles-table.js
  node-backend/migrations/20200416095610-organizations-table.js
  node-backend/migrations/20200416095700-users-table.js
  node-backend/migrations/20200416095728-user-blacklisted-tokens-table.js
  node-backend/migrations/20200416095830-core-values-table.js
  node-backend/migrations/20200416095922-recognitions-table.js
  node-backend/migrations/20200416100047-recognition-hi5-table.js
  node-backend/migrations/20200416100223-badges-table.js
  node-backend/migrations/20200416100446-user-badges-table.js
  node-backend/migrations/20200416100620-recognition-moderation-table.js
  node-backend/migrations/20200416100800-reported-recognitions-table.js
  node-backend/models/badges.model.js
  node-backend/models/core_values.model.js
  node-backend/models/organizations.model.js
  node-backend/models/recognition_hi5.model.js
  node-backend/models/recognition_moderation.model.js
  node-backend/models/recognitions.model.js
  node-backend/models/reported_recognitions.model.js
  node-backend/models/roles.model.js
  node-backend/models/sequelize.js
  node-backend/models/user_badges.model.js
  node-backend/models/user_blacklisted_tokens.model.js
  node-backend/models/users.model.js
  node-backend/package.json
  node-backend/seeders/20200614165809-roles.js
  node-backend/seeders/20200614165820-organizations.js
  node-backend/seeders/20200614165825-users.js
Labels: node-backend

#196 Logic to reset hi5_quota balance
  node-backend/app/cronJobs/ResetHi5QuotaBalance.js
Labels: node-backend

#133 add test db config
  node-backend/app/config/db.config.js
  node-backend/app/models/sequelize.js
  node-backend/app/test/core_value.test.js
  node-backend/app/test/data.js
  node-backend/app/test/jwtTokenGenration.js
  node-backend/app/test/login.test.js
  node-backend/app/test/logout.test.js
  node-backend/app/test/mocha.opts
  node-backend/app/test/moderation.test.js
  node-backend/app/test/organisation.test.js
  node-backend/app/test/orgnization.test.js
  node-backend/app/test/recognition.test.js
  node-backend/app/test/users.test.js
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/server.js
Labels: enhancement, node-backend

#205 update sequelize model
  node-backend/config/config.js
  node-backend/migrations/20200416095922-recognitions-table.js
  node-backend/migrations/20200416100047-recognition-hi5-table.js
  node-backend/models/badges.model.js
  node-backend/models/core_values.model.js
  node-backend/models/organizations.model.js
  node-backend/models/recognition_hi5.model.js
  node-backend/models/recognition_moderation.model.js
  node-backend/models/recognitions.model.js
  node-backend/models/reported_recognitions.model.js
  node-backend/models/roles.model.js
  node-backend/models/user_badges.model.js
  node-backend/models/user_blacklisted_tokens.model.js
  node-backend/models/users.model.js
Labels: node-backend

#203 update data seeder file
  node-backend/seeders/20200614165809-roles.js
  node-backend/seeders/20200614165820-organizations.js
  node-backend/seeders/20200614165825-users.js
Labels: node-backend

#200 update all response object as per updated wiki in all controllers
  node-backend/app/constant/responseConstants.js
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/badgesController.js
  node-backend/app/controllers/v1/loginController.js
  node-backend/app/controllers/v1/logoutController.js
  node-backend/app/controllers/v1/moderationController.js
  node-backend/app/controllers/v1/organisationController.js
  node-backend/app/controllers/v1/recognitionController.js
  node-backend/app/controllers/v1/usersController.js
  node-backend/app/jwtTokenValidation/jwtValidation.js
  node-backend/app/routes/badgesRoutes.js
  node-backend/app/routes/coreValuesRoutes.js
  node-backend/app/routes/recognitionRoutes.js
  node-backend/app/routes/sessionRoutes.js
  node-backend/app/utils/utility.js
Labels: node-backend

#207 refactoring directory structure
  node-backend/app/config/db.config.js
  node-backend/app/models/badges.model.js
  node-backend/app/models/core_values.model.js
  node-backend/app/models/organizations.model.js
  node-backend/app/models/recognition_hi5.model.js
  node-backend/app/models/recognition_moderation.model.js
  node-backend/app/models/recognitions.model.js
  node-backend/app/models/reported_recognitions.model.js
  node-backend/app/models/roles.model.js
  node-backend/app/models/sequelize.js
  node-backend/app/models/user_badges.model.js
  node-backend/app/models/user_blacklisted_tokens.model.js
  node-backend/app/models/users.model.js
  node-backend/config/google.config.js
  node-backend/config/loggerConfig.js
  node-backend/constant/responseConstants.js
  node-backend/controllers/v1/CoreValueController.js
  node-backend/controllers/v1/badgesController.js
  node-backend/controllers/v1/loginController.js
  node-backend/controllers/v1/logoutController.js
  node-backend/controllers/v1/moderationController.js
  node-backend/controllers/v1/organisationController.js
  node-backend/controllers/v1/recognitionController.js
  node-backend/controllers/v1/usersController.js
  node-backend/controllers/v1/validationSchema/UsersValidationSchema.js
  node-backend/controllers/v1/validationSchema/badgesValidationSchema.js
  node-backend/controllers/v1/validationSchema/coreValueValidationSchema.js
  node-backend/controllers/v1/validationSchema/loginValidation.js
  node-backend/controllers/v1/validationSchema/moderationSchema.js
  node-backend/controllers/v1/validationSchema/orgValidationSchema.js
  node-backend/controllers/v1/validationSchema/recognitionValidationSchema.js
  node-backend/cronJobs/ResetHi5QuotaBalance.js
  node-backend/database.json
  node-backend/google_auth/google_auth.js
  node-backend/jwtTokenValidation/deleteExpiredToken.js
  node-backend/jwtTokenValidation/jwtValidation.js
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/routes/badgesRoutes.js
  node-backend/routes/coreValuesRoutes.js
  node-backend/routes/index.js
  node-backend/routes/moderationRoutes.js
  node-backend/routes/organisationsRoutes.js
  node-backend/routes/recognitionRoutes.js
  node-backend/routes/sessionRoutes.js
  node-backend/routes/usersRoutes.js
  node-backend/server.js
  node-backend/test/badges.test.js
  node-backend/test/core_value.test.js
  node-backend/test/data.js
  node-backend/test/jwtTokenGenration.js
  node-backend/test/login.test.js
  node-backend/test/logout.test.js
  node-backend/test/moderation.test.js
  node-backend/test/organisation.test.js
  node-backend/test/recognition.test.js
  node-backend/test/users.test.js
  node-backend/utils/utility.js
Labels: node-backend

#210 test case integration
  node-backend/.env.sample
  node-backend/config/config.js
  node-backend/package-lock.json
  node-backend/package.json
  node-backend/test/badges.test.js
  node-backend/test/core_value.test.js
  node-backend/test/login.test.js
  node-backend/test/logout.test.js
  node-backend/test/moderation.test.js
  node-backend/test/organisation.test.js
  node-backend/test/recognition.test.js
  node-backend/test/users.test.js
Labels: node-backend

#213 update responses in badges, users and core-values controller
  node-backend/controllers/v1/CoreValueController.js
  node-backend/controllers/v1/badgesController.js
  node-backend/controllers/v1/usersController.js
Labels: node-backend

#162 APIs for report and review a recognition
  go-backend/db/common_test.go
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/organization_test.go
  go-backend/db/recognition_moderation.go
  go-backend/db/recognition_moderation_test.go
  go-backend/db/reported_recognition.go
  go-backend/db/reported_recognition_test.go
  go-backend/migrations/1589893448_create_reported_recognitions.down.sql
  go-backend/migrations/1589893448_create_reported_recognitions.up.sql
  go-backend/migrations/1589962840_create_recognition_moderation.down.sql
  go-backend/migrations/1589962840_create_recognition_moderation.up.sql
  go-backend/service/common_http_test.go
  go-backend/service/recognition_moderation_http.go
  go-backend/service/recognition_moderation_http_test.go
  go-backend/service/reported_recognition_http.go
  go-backend/service/reported_recognition_http_test.go
  go-backend/service/router.go
Labels: go-backend

#190 thumbnail_url field in corevalue API
  go-backend/db/core_value.go
  go-backend/migrations/1587466042_create_core_values.up.sql
  go-backend/service/core_value_http_test.go
Labels: enhancement, go-backend

#212 db integration test cases
  go-backend/db/user.go
  go-backend/db/user_test.go
  go-backend/service/user_http.go
  go-backend/service/user_http_test.go
Labels: enhancement, go-backend

#220 create recognition demo
  react-frontend/src/constants/actionConstants.js
  react-frontend/src/core-components/modal/ModalComponent.js
  react-frontend/src/create-recognition/AddRecognition.js
  react-frontend/src/create-recognition/CreateRecognition.js
  react-frontend/src/create-recognition/CreateRecognitionContainer.js
  react-frontend/src/reducers/coreValueListReducer.js
  react-frontend/src/reducers/recognizeToReducer.js
  react-frontend/src/reducers/rootReducer.js
  react-frontend/src/sagas/coreValueListSaga.js
  react-frontend/src/sagas/rootSaga.js
  react-frontend/src/shared-components/core-value/CoreValue.js
  react-frontend/src/shared-components/core-value/CoreValues.js
  react-frontend/src/shared-components/image-name/UserImageName.js
  react-frontend/src/shared-components/profile-component/ProfileComponent.js
Labels: react-frontend

#224 core value db test cases added
  go-backend/db/core_value_test.go
Labels: go-backend

#42 recognition api implementation
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/recognition.go
  go-backend/db/recognition_test.go
  go-backend/db/user.go
  go-backend/go.mod
  go-backend/go.sum
  go-backend/migrations/1587466688_create_recognitions.down.sql
  go-backend/migrations/1587466688_create_recognitions.up.sql
  go-backend/service/recognition_http.go
  go-backend/service/recognition_http_test.go
  go-backend/service/router.go
  go-backend/service/user_http_test.go
Labels: go-backend

#235 unit test for utils function
  node-backend/controllers/v1/CoreValueController.js
  node-backend/controllers/v1/badgesController.js
  node-backend/models/recognition_hi5.model.js
  node-backend/models/recognition_moderation.model.js
  node-backend/test/data.js
  node-backend/test/moderation.test.js
  node-backend/test/util_unit.test.js
Labels: node-backend

#113 APIs for badge management
  go-backend/db/badge.go
  go-backend/db/badge_test.go
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/user_test.go
  go-backend/migrations/1588670168_create_badges_table.down.sql
  go-backend/migrations/1588670168_create_badges_table.up.sql
  go-backend/service/badge_http.go
  go-backend/service/badge_http_test.go
  go-backend/service/router.go
  go-backend/service/user_http_test.go
Labels: go-backend

#242 update profile Api
  node-backend/controllers/v1/usersController.js
  node-backend/models/recognition_hi5.model.js
  node-backend/models/recognitions.model.js
Labels: node-backend

#208 AWS S3 service for image upload
  go-backend/aws/aws.go
  go-backend/aws/aws_s3.go
  go-backend/aws/aws_session.go
  go-backend/go.mod
  go-backend/go.sum
  go-backend/main.go
  go-backend/service/aws-s3_service_http_test.go
  go-backend/service/aws_s3_service_http.go
  go-backend/service/dependencies.go
  go-backend/service/router.go
Labels: enhancement, go-backend
