Repository joshsoftware/peerly, pull requests merged in 2020-05, with the labels that each got.

#39 Add organisation CRUD rest api
  .gitignore
  go-backend/application.yml.default
  go-backend/config/config.go
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/organization.go
  go-backend/db/organization_test.go
  go-backend/db/pg.go
  go-backend/main.go
  go-backend/migrations/1587467112_create_organisation_table.down.sql
  go-backend/migrations/1587467112_create_organisation_table.up.sql
  go-backend/service/organization_http.go
  go-backend/service/organization_http_test.go
  go-backend/service/router.go
  go-backend/service/user_http_test.go
Labels: go-backend

#102 Feature/node 86 implement node versioning
  node-backend/app/controllers/v1/logoutController.js
  node-backend/app/controllers/v1/usersController.js
  node-backend/app/routes/badgesRoutes.js
  node-backend/app/routes/coreValuesRoutes.js
  node-backend/app/routes/index.js
  node-backend/app/routes/organisationsRoutes.js
  node-backend/app/routes/organisationsRoutes_v1.js
  node-backend/app/routes/sessionRoutes.js
  node-backend/app/routes/usersRoutes.js
  node-backend/app/routes/usersRoutes_v1.js
  node-backend/app/test/logout.test.js
  node-backend/app/test/users.test.js
  node-backend/app/utils/utility.js
Labels: node-backend

#106 Add return statement after logging error
  go-backend/db/organization_test.go
Labels: go-backend

#115 added profile API
  node-backend/app/controllers/v1/profileController.js
  node-backend/app/routes/index.js
  node-backend/app/routes/profileRoutes.js
  node-backend/app/test/profile.test.js
Labels: enhancement, node-backend

#97 Feature/react 81 react router setup
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.css
  react-frontend/src/App.js
  react-frontend/src/HOC/withLayout.js
  react-frontend/src/constants/appConstants.js
  react-frontend/src/constants/routeConstants.js
  react-frontend/src/index.js
  react-frontend/src/logo.svg
  react-frontend/src/reducers/appReducer.js
  react-frontend/src/root/App.js
  react-frontend/src/root/App.test.js
  react-frontend/src/root/Dashboard.js
  react-frontend/src/root/redux-store.js
  react-frontend/src/root/root-routes-config.js
  react-frontend/src/root/root-routes.js
  react-frontend/src/sharedComponents/GenerateRoutes.js
  react-frontend/src/sharedComponents/PrivateRoute.js
  react-frontend/src/sharedComponents/SessionTimeoutComponent.js
  react-frontend/src/sharedComponents/Sidebar.js
  react-frontend/src/sharedComponents/TopNavbar.js
  react-frontend/src/sharedComponents/UnauthorisedErrorComponent.js
Labels: enhancement

#57 core-values api implementation
  go-backend/db/core_value.go
  go-backend/db/core_value_test.go
  go-backend/db/db.go
  go-backend/db/mock.go
  go-backend/db/organization_test.go
  go-backend/db/pg.go
  go-backend/go.mod
  go-backend/go.sum
  go-backend/migrations/1587466042_create_core_values.down.sql
  go-backend/migrations/1587466042_create_core_values.up.sql
  go-backend/service/core_value_http.go
  go-backend/service/core_value_http_test.go
  go-backend/service/response.go
  go-backend/service/router.go
  go-backend/service/user_http_test.go
Labels: go-backend

#123 added get core value API
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/profileController.js
  node-backend/app/routes/coreValuesRoutes.js
  node-backend/app/test/core_value.test.js
  node-backend/app/test/mocha.opts
  node-backend/app/test/profile.test.js
Labels: enhancement, node-backend

#114 Feature/node 109 cron job to reset hi5 quota
  node-backend/.env.sample
  node-backend/app/controllers/v1/loginController.js
  node-backend/app/controllers/v1/usersController.js
  node-backend/app/cronJobs/ResetHi5QuotaBalance.js
  node-backend/app/routes/usersRoutes.js
  node-backend/app/utils/utility.js
  node-backend/server.js
Labels: node-backend, wip

#132 configured eslint plugin for a11y
  react-frontend/.eslintrc
  react-frontend/package.json
Labels: enhancement

#89 Feature/node-48 API's for recognition management
  node-backend/app/controllers/v1/organisationController.js
  node-backend/app/controllers/v1/recognitionController.js
  node-backend/app/controllers/v1/validationSchema/orgValidationSchema.js
  node-backend/app/controllers/v1/validationSchema/recognitionValidationSchema.js
  node-backend/app/models/recognition_comments.model.js
  node-backend/app/models/recognition_hi5.model.js
  node-backend/app/models/sequelize.js
  node-backend/app/routes/index.js
  node-backend/app/routes/organisationsRoutes.js
  node-backend/app/routes/recognitionRoutes.js
  node-backend/migrations/20200416100002-recognition-comments-table.js
  node-backend/migrations/20200416100047-recognition-hi5-table.js
Labels: node-backend

#131 Add generic Image component and high five image component
  react-frontend/public/assets/images/high-five.png
  react-frontend/public/assets/images/high-five@2x.png
  react-frontend/src/HOC/withLayout.js
  react-frontend/src/constants/appConstants.js
  react-frontend/src/core-components/image/ImageComponent.js
  react-frontend/src/core-components/image/ImageComponent.test.js
  react-frontend/src/helpers/test-helpers/RouteHelper.js
  react-frontend/src/root/App.js
  react-frontend/src/root/App.test.js
  react-frontend/src/root/root-routes-config.js
  react-frontend/src/root/root-routes.js
  react-frontend/src/shared-components/SessionTimeoutComponent.js
  react-frontend/src/shared-components/UnauthorisedErrorComponent.js
  react-frontend/src/shared-components/high-five-components/HighFiveComponent.js
  react-frontend/src/shared-components/high-five-components/HighFiveComponent.test.js
  react-frontend/src/shared-components/layout/Sidebar.js
  react-frontend/src/shared-components/layout/TopNavbar.js
  react-frontend/src/shared-components/routes/GenerateRoutes.js
  react-frontend/src/shared-components/routes/PrivateRoute.js
Labels: react-frontend

#129 user profile management
  node-backend/app/controllers/v1/profileController.js
  node-backend/app/controllers/v1/usersController.js
  node-backend/app/controllers/v1/validationSchema/UsersValidationSchema.js
  node-backend/app/routes/index.js
  node-backend/app/routes/profileRoutes.js
  node-backend/app/routes/usersRoutes.js
  node-backend/app/test/profile.test.js
  node-backend/app/test/users.test.js
  node-backend/app/utils/utility.js
Labels: node-backend

#135 API to give hi5 for recognition
  node-backend/app/controllers/v1/recognitionController.js
  node-backend/app/controllers/v1/validationSchema/recognitionValidationSchema.js
  node-backend/app/models/recognition_hi5.model.js
  node-backend/app/models/sequelize.js
  node-backend/app/routes/recognitionRoutes.js
  node-backend/app/test/recognition.test.js
Labels: node-backend

#151 logout api with test cases and validation schema
  node-backend/app/controllers/v1/loginController.js
  node-backend/app/controllers/v1/validationSchema/loginValidation.js
  node-backend/app/routes/sessionRoutes.js
  node-backend/app/test/login.test.js
  node-backend/app/test/logout.test.js
Labels: node-backend

#152 separate validation schema
  node-backend/app/controllers/v1/CoreValueController.js
  node-backend/app/controllers/v1/badgesController.js
  node-backend/app/controllers/v1/validationSchema/badgesValidationSchema.js
  node-backend/app/controllers/v1/validationSchema/coreValueValidationSchema.js
Labels: node-backend

#139 added moderation routes
  node-backend/app/controllers/v1/moderationController.js
  node-backend/app/controllers/v1/validationSchema/moderationSchema.js
  node-backend/app/models/recognition_moderation.model.js
  node-backend/app/models/sequelize.js
  node-backend/app/routes/index.js
  node-backend/app/routes/moderationRoutes.js
  node-backend/app/test/moderation.test.js
  node-backend/migrations/20200416100620-recognition-moderation-table.js
Labels: enhancement, node-backend

#157 create a json file for db-migration
  node-backend/database.json
  node-backend/package-lock.json
  node-backend/package.json
Labels: enhancement, node-backend

#164 Add pre push git hook to run all the test cases
  react-frontend/package.json
Labels: enhancement, react-frontend

#143 add core components for login form
  react-frontend/src/core-components/button/ButtonComponent.js
  react-frontend/src/core-components/form/FormComponent.js
  react-frontend/src/core-components/grid/GridComponent.js
Labels: enhancement, react-frontend
